/*Retira a margem e o preenchimento do site*/
*{
    margin: 0;
    padding: 0;
}

/*Body*/
body{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto 1000px auto;
}

/*Header*/
header{
    grid-area: cab;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/*Controla o espaço dos cards*/
.elemento_pai{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Logo*/
.logo{
    width: 115px;
}

/*Ícones do header*/
.imgopção{
    width: 25px;
}

/*Lista do header*/
header li{ 
    padding-left: 15px; 
    display: inline-flex; 
}

/*Aside*/
aside{
    grid-area: sec;
}

/*Imagem do aside*/
.imgaside{
    max-width: 100%;
    margin-bottom: 95px;
}

/*Main*/
main{
    grid-area: pri;
}

/*Footer*/
footer{
    grid-area: rod;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/*Altera a cor do header, aside, main e footer*/
header, aside, main, footer{
    background-color: rgba(233, 233, 233, 0.7);
}

/*Modelo dos cards*/
.card{
    border-radius: 3px;
    padding: 25px 40px;
    width: 200px;
    margin: 10px;
    text-align: center;
    box-shadow: 9px 9px 9px rgb(173, 173, 173);
    background-color: rgb(221, 221, 221);
}

/*Redimensiona o tamanho das imagens dos cards*/
.imgcard{
    max-width: 100%;
}

/*Muda a cor do a href e retira o sublinhado*/
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/*Alinha e estiliza o H1*/
#h1{
    text-align: center;
    font-weight: bold;
}

/*Muda a cor e deixa o H2 em negrito*/
#h2{
    color: black;
    font-weight: bold;
}

/*Muda a cor e deixa a fonte do H3 pequena*/
#h3{
    color: black;
    font-size: small;
}

/*Login*/
.login{
    background-color: rgb(221, 221, 221);
    box-shadow: 9px 9px 9px rgb(173, 173, 173);
    border-radius: 3px;
    width: 400px;
    padding: 40px;
}

/*Alinha o quadro de login ao centro da página*/
.maindologin{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/*Detalhes*/
.detalhes{
    background-color: rgb(221, 221, 221);
    box-shadow: 9px 9px 9px rgb(173, 173, 173);
    border-radius: 3px;
    width: 400px;
    padding: 40px;
}

/*Alinha o quadro de detalhes do produto ao centro da página*/
.maindosdetalhes{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/*Redimensiona a imagem que está na página de detalhes do produto*/
.tenisdosdetalhes{
    max-width: 100%;
}